<div class="container mat-elevation-z2">
  <div class="examName">
    {{ exam?.type?.name }}
  </div>

  <div class="imageContainer" *ngIf="exam?.miniatureUrl">
    <img [src]="exam?.miniatureUrl" class="img-fluid" />
  </div>

  <div class="observationContainer">
    <h3>Observacion</h3>
    <div class="observation">
      {{ exam?.description }}
    </div>
  </div>

  <div class="actions">
    <button mat-mini-fab color="none" matTooltip="Ver en el editor">
      <mat-icon color="primary" (click)="gotToEditor()">colorize</mat-icon>
    </button>
  </div>
</div>
