<section>
  <div class="card">
    <div
      class="card-header"
      [ngClass]="
        exams?.length > 0 ? 'headerNoMarginBottom' : 'headerMarginBottom'
      "
    >
      Exámenes
    </div>

    <div *ngIf="exams?.length > 0" class="containerList">
      <div class="examPreviewListContainer">
        <div *ngFor="let exam of exams" class="examPreviewContainer">
          <odo-exam-preview
            [exam]="exam"
            (goToEditorClicked)="onGoToEditorClickedChange($event, exam)"
            (viewDetailsClicked)="onViewDetailsClickedChange($event, exam)"
          ></odo-exam-preview>
        </div>
      </div>
    </div>
  </div>
</section>
