.mat-form-field {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 26px;
}

.example-margin {
  margin: 0 10px;
}

.submitButton {
  margin-left: 8px;
}

.colPriceExamInput .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.linkAndPiecestextContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .linkContainer {
    color: #1976d2;
    font-size: 15px;
    line-height: normal;
    text-decoration: solid;
    padding-right: 8px;
    margin-bottom: 4px;
  }
  .link:hover {
    cursor: pointer;
  }
  .piecesTextContainer {
    line-height: normal;
    margin-bottom: 4px;
    .text {
      font-size: 15px;
    }
  }
}
