.tableContainer {
  overflow: auto;
}
table {
  width: 100%;
}

.avatarContainer {
  margin-right: 8px;
}

.actionsRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

table.mat-table {
  .cdk-column-studyCode.mat-column-studyCode {
    min-width: 140px;
  }
  .cdk-column-preview.mat-column-preview {
    min-width: 140px;
  }
  .cdk-column-description.mat-column-description {
    min-width: 250px;
    max-width: 400px;
  }
  .cdk-column-type.mat-column-type {
    min-width: 140px;
  }
  .cdk-column-actions.mat-column-actions {
    min-width: 80px;
  }
}

.description {
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
