<mat-nav-list class="pb-5">
  <div class="menuTitle">MENÚ</div>

  <!-- Dashboard -->
  <a
    mat-list-item
    [routerLink]="['/admin/dashboard']"
    routerLinkActive="activedRoute"
  >
    <div class="d-flex align-items-center">
      <mat-icon class="mx-2">dashboard</mat-icon>
      <span>Dashboard</span>
    </div>
  </a>

  <!-- Radiografías -->
  <a
    mat-list-item
    [routerLink]="['/admin/xrays']"
    routerLinkActive="activedRoute"
  >
    <div class="d-flex align-items-center">
      <mat-icon class="mx-2">picture_in_picture</mat-icon>
      <span>Radiografías</span>
    </div>
  </a>

  <!-- Odontólogos -->
  <a
    mat-list-item
    [routerLink]="['/admin/medics']"
    routerLinkActive="activedRoute"
  >
    <div class="d-flex align-items-center">
      <mat-icon class="mx-2">supervisor_account</mat-icon>
      <span>Odontólogos</span>
    </div>
  </a>

  <!-- Clientes -->
  <a
    mat-list-item
    [routerLink]="['/admin/clients']"
    routerLinkActive="activedRoute"
  >
    <div class="d-flex align-items-center">
      <mat-icon class="mx-2">groups</mat-icon>
      <span>Clientes</span>
    </div>
  </a>

   <!-- Ordenes -->
   <a
   mat-list-item
   [routerLink]="['/admin/orders']"
   routerLinkActive="activedRoute"
 >
   <div class="d-flex align-items-center">
     <mat-icon class="mx-2">bookmark_border</mat-icon>
     <span>Ordenes</span>
   </div>
 </a>
</mat-nav-list>
