.avatarNameContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 12px;
  .avatar {
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .userName {
    font-size: 16px;
    line-height: normal;
    margin-right: 8px;
  }
}
