<div class="menuTableContainer">
  <div class="titleContainer">
    <h5>Médicos</h5>
  </div>

  <div class="searcherContainer">
    <odo-medic-text-searcher (queryParamsChange)="onQueryParamsChange($event)"></odo-medic-text-searcher>
  </div>

  <div class="actionsContainer">
    <button mat-mini-fab color="none" aria-label="Filtros tabla de médicos">
      <mat-icon>filter_list</mat-icon>
    </button>

    <button class="plusIcon" mat-mini-fab aria-label="Agregar médico" [routerLink]="['/admin/medics/create']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
