.parent {
  align-items: center;
  background-image: url("../../../../assets/images/wallpapers/login_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 380px;
  .titleContainer {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673ab7;
    height: 128px;
    img {
      width: 75px;
    }
  }
  .bodyContaner {
    padding: 24px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .formContainer {
      mat-form-field {
        width: 100%;
      }
    }
    .actionsContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 12px;
    }
    .linksContainer {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      margin-bottom: 50px;

      span {
        color: #0000008a;
        line-height: normal;
        margin-bottom: 4px;
      }
      a {
        line-height: normal;
        color: #000000de;
      }
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
