<div class="container pt-3 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <mat-card class="bg-grey card-auth mat-elevation-z4">
        <mat-card-title>Generar orden</mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center justify-content-sm-start">
            <div class="col-12 mb-2">
              <span class="y-2">Médico {{ medicCode }}</span>
              <odo-medics-autocomplete
                (medicCode)="onMedicCodeChange($event)"
              ></odo-medics-autocomplete>
            </div>
            <div class="col-12 mb-2">
              <span class="my-2">Paciente {{ clientCode }}</span>
              <odo-clients-autocomplete
                (clientCode)="onClientCodeChange($event)"
              ></odo-clients-autocomplete>
            </div>
            <div class="col-12 mb-4 d-flex justify-content-end">
              <button
                *ngIf="medicCode && clientCode"
                mat-flat-button
                color="accent"
                type="submit"
              >
                Generar orden
              </button>
            </div>

            <div class="col-12">
              <!-- <mat-divider></mat-divider> -->
              <odo-upload-images></odo-upload-images>
            </div>



          </div>





        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- <pre>{{signUpForm.getRawValue()|json}}</pre> -->
