.odoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  padding: 8px;
  .nameAndImageContainer {
    max-height: 237px;
    .imageContainer {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      img {
        min-width: 100%;
        max-width: 100%;
        max-height: 201px;
        border-radius: 4px;
      }
    }
    .examNameIcon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: normal;
      .examName {
        font-weight: 500;
        line-height: normal;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: calc(100% - 30px);
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
      }
      margin-bottom: 6px;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 6px;
    .budgets {
      .studies {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal;
        border-radius: 50%;
        background-color: #ff4081;
        color: white;
        padding: 4px;
        font-size: 14px;
        font-weight: 500;
        width: 28px;
        height: 28px;
      }
    }
    .buttons {
      display: flex;
      justify-content: flex-end;
      button {
        margin-left: 4px;
        margin-right: 4px;
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        .disableAddStudioButton {
          color: gray;
        }
      }
    }
  }
}
