.mat-form-field {
  width: 100%;
}

.submitButton {
  margin-left: 8px;
}

.colObservationInput .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.observationLength {
  position: absolute;
  margin-top: -21px;
  font-size: 12px !important;
  margin-bottom: 0px;
}
