<section>
  <div class="card">
    <div
      class="card-header"
      [ngClass]="
        exams?.length > 0 ? 'headerNoMarginBottom' : 'headerMarginBottom'
      "
    >
      Exámenes
    </div>

    <div *ngIf="exams?.length > 0" class="containerList">
      <div class="fileListContainer">
        <div *ngFor="let exam of exams" class="fileContainer">
          <odo-file-preview-with-actions
            [urlFile]="exam?.imageUrl"
            [urlMineatureFile]="exam?.miniatureUrl"
            (goToEditorClicked)="onGoToEditorClickedChange($event, exam)"
            (addStudioClicked)="onAddStudioClickedChange($event)"
          ></odo-file-preview-with-actions>
        </div>
      </div>
    </div>
  </div>
</section>
