<div class="panelContainer">
  <div class="menuPanel"><h1>Dashboard</h1></div>
  <div class="graphicsContainer">
    <div class="row">
      <div class="col-12">
        <odo-total-cards></odo-total-cards>
      </div>
    </div>
    <div class="row">
      <div class="col"><odo-pie-chart></odo-pie-chart></div>
      <div class="col">
        <odo-total-exams-pie-chart></odo-total-exams-pie-chart>
      </div>
      <div class="col">
        <odo-sales-lines-chart></odo-sales-lines-chart>
      </div>
    </div>
  </div>
</div>
