<div class="dialogContainer">
  <div class="headerDialog">
    <div class="mat-dialog-title dialogTitle">Odontograma</div>
    <button
      mat-button
      type="button"
      class="closeIcon"
      [mat-dialog-close]="false"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="text-center">
    <odo-odontogram
      (piecesCodeList)="onPiecesCodeListChange($event)"
    ></odo-odontogram>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="row justify-content-center">
      <div class="col-auto col-md-6">
        <button
          mat-stroked-button
          color="accent"
          class="leftButton"
          type="button"
          (click)="cancel()"
        >
          Cancelar
        </button>
      </div>
      <div class="col-auto col-md-6 mb-3 mb-md-0">
        <button
          mat-raised-button
          color="primary"
          class="rightButton"
          (click)="add()"
        >
          Agregar
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
