<div class="odontrogramContainer">
  <div class="firstPiecesBlockContainer">
    <div class="pieceBlockContainer">
      <!-- First molar pieces row -->
      <div class="firstMolarRowPieces">
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="18"
            [isSelected]="isSelected('18')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="17"
            [isSelected]="isSelected('17')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="16"
            [isSelected]="isSelected('16')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="15"
            [isSelected]="isSelected('15')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="14"
            [isSelected]="isSelected('14')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="13"
            [isSelected]="isSelected('13')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="12"
            [isSelected]="isSelected('12')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="11"
            [isSelected]="isSelected('11')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
      </div>

      <!-- First tooth pieces row -->
      <div class="firstToothRowPieces">
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="55"
            [isSelected]="isSelected('55')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="54"
            [isSelected]="isSelected('54')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="53"
            [isSelected]="isSelected('53')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="52"
            [isSelected]="isSelected('52')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="51"
            [isSelected]="isSelected('51')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
      </div>

      <!-- Second tooth pieces row -->
      <div class="secondToothRowPieces">
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="85"
            [isSelected]="isSelected('85')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="84"
            [isSelected]="isSelected('84')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="83"
            [isSelected]="isSelected('83')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="82"
            [isSelected]="isSelected('82')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="81"
            [isSelected]="isSelected('81')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
      </div>

      <!-- Second molar pieces row -->
      <div class="secondMolarRowPieces">
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="48"
            [isSelected]="isSelected('48')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="47"
            [isSelected]="isSelected('47')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="46"
            [isSelected]="isSelected('46')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="45"
            [isSelected]="isSelected('45')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="44"
            [isSelected]="isSelected('44')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="43"
            [isSelected]="isSelected('43')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="42"
            [isSelected]="isSelected('42')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="41"
            [isSelected]="isSelected('41')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------------->
  <!------------------------------- Right block ----------------------------------->
  <!-- ---------------------------------------------------------------------------->
  <div class="secondPiecesBlockContainer">
    <div class="pieceBlockContainer">
      <!-- First molar pieces row -->
      <div class="firstMolarRowPieces">
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="21"
            [isSelected]="isSelected('21')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="22"
            [isSelected]="isSelected('22')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="23"
            [isSelected]="isSelected('23')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="24"
            [isSelected]="isSelected('24')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="25"
            [isSelected]="isSelected('25')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="26"
            [isSelected]="isSelected('26')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="27"
            [isSelected]="isSelected('27')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="28"
            [isSelected]="isSelected('28')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
      </div>

      <!-- First tooth pieces row -->
      <div class="firstToothRowPieces">
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="61"
            [isSelected]="isSelected('61')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="62"
            [isSelected]="isSelected('62')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="63"
            [isSelected]="isSelected('63')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="64"
            [isSelected]="isSelected('64')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="65"
            [isSelected]="isSelected('65')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
      </div>

      <!-- Second tooth pieces row -->
      <div class="secondToothRowPieces">
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="71"
            [isSelected]="isSelected('71')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="72"
            [isSelected]="isSelected('72')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="73"
            [isSelected]="isSelected('73')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="74"
            [isSelected]="isSelected('74')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
        <div class="toothPieceContainer">
          <odo-tooth-piece
            toothCode="75"
            [isSelected]="isSelected('75')"
            (selectedPiece)="selecPiece($event)"
          ></odo-tooth-piece>
        </div>
      </div>

      <!-- Second molar pieces row -->
      <div class="secondMolarRowPieces">
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="31"
            [isSelected]="isSelected('31')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="32"
            [isSelected]="isSelected('32')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="33"
            [isSelected]="isSelected('33')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="34"
            [isSelected]="isSelected('34')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="35"
            [isSelected]="isSelected('35')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="36"
            [isSelected]="isSelected('36')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="37"
            [isSelected]="isSelected('37')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
        <div class="molarPieceContainer">
          <odo-molar-piece
            molarCode="38"
            [isSelected]="isSelected('38')"
            (selectedPiece)="selecPiece($event)"
          ></odo-molar-piece>
        </div>
      </div>
    </div>
  </div>
</div>
