<!-- Left block -->
<div *ngIf="block === 'left'" class="pieceBlockContainer">
  <!-- First molar pieces row -->
  <div class="firstMolarRowPieces">
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="18"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="17"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="16"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="15"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="14"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="13"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="12"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="11"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
  </div>

  <!-- First tooth pieces row -->
  <div class="firstToothRowPieces">
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="55"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="54"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="53"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="52"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="51"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
  </div>

  <!-- Second tooth pieces row -->
  <div class="secondToothRowPieces">
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="85"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="84"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="83"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="82"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="81"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
  </div>

  <!-- Second molar pieces row -->
  <div class="secondMolarRowPieces">
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="48"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="47"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="46"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="45"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="44"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="43"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="42"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="41"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------------------->
<!------------------------------- Right block ----------------------------------->
<!-- ---------------------------------------------------------------------------->
<div *ngIf="block === 'right'" class="pieceBlockContainer">
  <!-- First molar pieces row -->
  <div class="firstMolarRowPieces">
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="21"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="22"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="23"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="24"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="25"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="26"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="27"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="28"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
  </div>

  <!-- First tooth pieces row -->
  <div class="firstToothRowPieces">
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="61"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="62"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="63"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="64"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="65"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
  </div>

  <!-- Second tooth pieces row -->
  <div class="secondToothRowPieces">
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="71"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="72"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="73"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="74"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
    <div class="toothPieceContainer">
      <odo-tooth-piece
        toothCode="75"
        (selectedPiece)="selecPiece($event)"
      ></odo-tooth-piece>
    </div>
  </div>

  <!-- Second molar pieces row -->
  <div class="secondMolarRowPieces">
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="31"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="32"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="33"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="34"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="35"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="36"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="37"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
    <div class="molarPieceContainer">
      <odo-molar-piece
        molarCode="38"
        (selectedPiece)="selecPiece($event)"
      ></odo-molar-piece>
    </div>
  </div>
</div>
