<div class="dialogContainer">
  <div class="headerDialog">
    <div class="mat-dialog-title dialogTitle">Odontograma</div>
    <button mat-button type="button" class="closeIcon" (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="text-center">
    <div class="imageContainer mat-elevation-z2" *ngIf="exam?.imageUrl">
      <img [src]="exam?.imageUrl" class="img-fluid" />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <div class="row justify-content-center">
      <div class="col-auto col-md-6 mb-3 mb-md-0">
        <button
          mat-raised-button
          color="primary"
          class="rightButton"
          (click)="accept()"
        >
          Aceptar
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
