.odontrogramContainer {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 700px;
  .firstPiecesBlockContainer {
    margin: 16px;
  }
  .secondPiecesBlockContainer {
    margin: 16px;
  }
}
.bottomActions {
  width: 100%;
  display: flex;
  justify-content: center;
}
