.sliderContainer {
  display: flex;
  flex-direction: column;
  .labelsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16px;
    line-height: normal;
    font-size: 16px;
    .key {
      margin-right: 8px;
    }
  }
  .matSliderContainer {
    display: flex;
    align-items: center;
    padding-left: 2px;
    mat-slider {
      width: 100%;
    }
  }
}
