<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport="false"
    [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isSmall$ | async) ? 'over' : 'side'"
    [opened]="(isSmall$ | async) === false"
  >
    <div class="logoMedicContainer">
      <div class="appLogo">Radiography</div>

      <div class="medicInfoBlockContainer">
        <odo-medic-info-block
          [avatarUrl]="avatarUrl"
          [email]="email"
          [names]="userName"
        ></odo-medic-info-block>

        <div class="actionsContainer">
          <a mat-list-item [routerLink]="['/auth/logout']">
            <mat-icon>exit_to_app</mat-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="sidenavListContiner">
      <odo-admin-sidenav-list></odo-admin-sidenav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <odo-admin-toolbar (toggleEvent)="toggle()"></odo-admin-toolbar>
    <mat-progress-bar
      *ngIf="progressBar$ | async"
      color="accent"
      mode="indeterminate"
    ></mat-progress-bar>
    <ng-container>
      <router-outlet></router-outlet>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
